/* Simple styling for demonstration purposes */
body {
    font-family: Arial, sans-serif;
}
#videosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.videoFrame {
    .videoFrame {
        width: 1000px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 5px 9px rgba(0,0,0,0.1);
      }
    
}
